.MyTextArea {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    background-color: #6A6E70;
    background-clip: padding-box;
    border: 1px solid #222629;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        outline: none !important;
    }

    &::placeholder {
        color: #222629;
    }
}