@keyframes slide-in {
    0% {
        transform: translateY(120%);

    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0%);

    }
}

@keyframes fade-in {
    0% {
        transform: scale(.7, .7);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        transform: scale(.7, .7);
        opacity: 0;
    }
}