@media (min-width: 480.98px) {
    .header {
        &__inner {
            padding: 20px 0px;

        }
        &__nav-list {
            flex-direction: row;
        }
    
    }

    .task {
        &__inner {
            padding: 80px 0 30px;
        }
        &__task-list {
            gap: 30px;

            &--horizontal {
                & .task__article {
                    min-width: 360px;
                    max-width: 360px;
                }
            }
        }
        
        &__header-orientation-btn {
            margin-left: 20px;
        }
    }
    .contact {
        &__inner {
            padding: 80px 0 30px;
        }

        &__header-btn {
            margin-left: 20px;
            width: 40px;
            height: 40px;
            font-size: 50px;
        }
    }
}

@media (min-width: 576.98px) {
    .container {
        padding: 0 20px;
    }

    .task {


        &__tab {
            & button {
                font-size: 18px;

                &:first-letter {
                    font-size: 18px;
                }
            }
        }

    }


}

@media (min-width: 768.98px) {
    .task {
        &__task-list {
            grid-template-columns: 1fr 1fr;

            & .task__article {
                justify-self: end;

                &:nth-child(even) {
                    justify-self: start;
                }
            }
        }

    }

    .contact__contact-table {
        margin-top: 10px;
        width: 100%;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 20px;
        overflow: hidden;
        border: 1px $primary-color-dark solid;

        & tr {
            width: 100%;
            vertical-align: top;
            text-align: left;
            display: table-row;
        }

        & .contact__contact-thead {
            display: table-header-group;
            width: 100%;
        }

        & .contact__contact-item {
            display: table-cell;
            padding: 10px;
            max-width: 100px;
            padding-top: 5px;
            &::before {
                display: none;
            }
            &:last-child{
                border-radius: 0;
                overflow: hidden;
            }
            &:nth-child(2){
                border-radius: 0;
                overflow: hidden;
            }
        }

        & .contact__contact-item-title {
            background-color: $block-color;
        }

        & .contact__contact-row-delete {
            background-color: $item-color;
            width: 3%;
            border: 1px $primary-color-dark solid;
            & button {
                display: block;
                width: 25px;
            }
        }

    }
}


@media (min-width: 992.98px) {}

@media (min-width: 1050px) {
    .task {
        &__task-list {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 40px;

            & .task__article {
                justify-self: end;

                &:nth-child(even) {
                    justify-self: start;
                }
            }
        }

    }
}

@media (any-hover: hover) {
    .task {
        &__header-orientation-btn:hover {
            transform: rotateZ(45deg);
        }

        &__item-btn-expand {
            &:hover {
                transform: translateY(10%);
            }

            &--active {
                &:hover {
                    transform: rotateZ(180deg) translateY(10%);
                }
            }
        }
    }
}