*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}


body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Open Sans';
  font-weight: 400;
  color: $text-color;
}

body,
html {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  margin: 0;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: $header-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $link-color-inactive;
  border-radius: 20px;
}

.react-tabs__tab--selected {
  & button {
    border: 2px solid $link-color;
    background-color: $link-color;
    color: #fff;
  }
}