$primary-color-light: #222629;
$primary-color-dark: #222629;
$text-color: #FFFFFF;
$title-color: #87C232;
$link-color: #87C232;
$link-color-inactive: #618930;
$block-color:#474A4F;
$item-color: #6A6E70;
$header-color: #222629;