$primary-color-light: #222629;
$primary-color-dark: #222629;
$text-color: #FFFFFF;
$title-color: #6c9737;
$link-color: #6c9737;
$link-color-inactive: #53742A;
$block-color: #474A4F;
$item-color: #6A6E70;
$header-color: #222629;