@import 'settings.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'animation.scss';

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

main {
    min-height: 100vh;
    height: 100%;
    background-color: $primary-color-light;
    background: -webkit-linear-gradient(top bottom, $primary-color-light, $primary-color-dark);
    background: -moz-linear-gradient(top bottom, $primary-color-light, $primary-color-dark);
    background: linear-gradient(180deg, $primary-color-light, $primary-color-dark);

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: $header-color;

    &__inner {
        display: flex;
        padding: 20px 0px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-img {
        height: 40px;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__nav-link {
        color: $link-color-inactive;
        font-size: 23px;
        margin-left: 40px;
        font-family: 'Montserrat';
        position: relative;

        &::after {
            content: '';
            transition: opacity .2s linear;
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $link-color;
            opacity: 0;
            border-radius: 4px;
        }

        &:hover {
            color: $link-color;

            &::after {
                opacity: 1;
                background-color: $link-color;
            }
        }

        &.active {
            pointer-events: none;
            color: $link-color;

            &::after {
                color: $link-color;
                opacity: 1;
            }
        }
    }
}

.task {
    &__inner {
        min-height: 100vh;
        padding: 90px 0 30px;
        height: 100%;
        overflow-x: hidden;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__header-orientation-btn {
        position: absolute;
        right: 0;
        top: 5%;
        background-color: transparent;
        border: none;
        height: 40px;
        width: 40px;
        display: block;
        background: url('./assets/images/menu.svg') no-repeat center;
        background-size: 80%;
        background-origin: $header-color;
        cursor: pointer;
        transition: transform .3s;

        @media (any-hover: hover) {
            &:hover {
                transform: rotateZ(45deg);
            }
        }


        &--horizontal {
            transform: rotateZ(90deg);
        }
    }

    &__tabs {
        margin-top: 6px;
        margin-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    &__tasks-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__task-list {
        width: 100%;
        margin-top: 15px;
        //IE
        display: flex;
        flex-wrap: wrap;
        // Google Edge FireFox
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        overflow: hidden;
        transition: all .3s;

        @media (max-width: 1050px) {
            grid-template-columns: 1fr 1fr;

            & .task__article {
                justify-self: end;

                &:nth-child(even) {
                    justify-self: start;
                }
            }
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;

            & .task__article {
                justify-self: center;

                &:nth-child(even) {
                    justify-self: center;
                }
            }

        }

        &--horizontal {
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            height: calc(100vh - 310px);
            min-height: 470px;
            padding-bottom: 10px;
            gap: 0px;
            flex-wrap: nowrap;
            justify-content: flex-start;

            & .task__article {
                @media (max-width: 400px) {
                    min-width: 280px;
                    max-width: 280px;
                }

                min-width: 360px;
                max-width: 360px;
                max-height: none;
                margin-left: 30px;
                height: 100%;
            }
        }

    }

    &__article {
        position: relative;
        max-width: 400px;
        width: 100%;
        height: 60vh;
        max-height: 600px;
        min-height: 450px;
        background-color: $block-color;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        animation: slide-in .5s ease;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__article-header {
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #000;
        background-color: $block-color;
    }

    &__article-header-title-box {
        display: flex;
        align-items: center;
    }

    &__article-header-title {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        width: 100%;
        padding-right: 10px;
    }

    &__article-header-delete {
        width: 25px;
        height: 25px;
    }

    &__article-header-add {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__article-header-input {
        width: calc(100% - 60px);
        min-width: calc(100% - 60px);
        max-width: calc(100% - 60px);
        min-height: 40px;
        max-height: 100px;
    }

    &__article-header-edit {
        max-width: 20%;
        margin-left: 20px;
    }

    &__article-list {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        padding-top: 5px;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        border-bottom: 3px solid #3A434A;
        padding: 10px;
        border-radius: 10px;
        background-color: $item-color;
        margin: 10px 0;
        animation: slide-left .5s ease;
    }

    &__item-content {
        margin-right: 5px;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
    }

    &__item-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--active {
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
        }
    }

    &__item-buttons {
        display: flex;
    }

    &__item-btn {
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        margin-left: 7px;
        cursor: pointer;
    }

    &__item-btn-edit {
        transition: transform .3s;

        &--active {
            transform: rotateZ(180deg);
        }
    }

    &__clear {
        position: absolute;
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        color: $item-color;

    }

    &__article-list-empty {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: $item-color;
    }
}

.contact {

    &__inner {
        overflow: hidden;
        padding: 90px 0 30px;

    }

    &__header {
        display: flex;
        justify-content: center;
    }

    &__header-btn {
        margin-left: 20px;
    }

    &__form {
        display: flex
    }

    &__contact-table {
        background-color: $item-color;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        animation: slide-in .5s ease;
        margin-top: 20px;
    }

    &__contact-tbody {
        overflow: hidden;

    }

    &__contact-thead {
        background-color: $block-color;
        font-weight: 600;
        border-bottom: 1px $primary-color-dark solid;
    }

    &__contact-row {
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 40px 2fr 1.5fr 1fr 2fr;
        border-top: 1px $primary-color-dark solid;

        &:first-child {
            border-top: none;
        }
    }

    &__contact-row-delete {
        padding: 10px;
        align-self: flex-start;
    }

    &__contact-item {
        font-size: 17px;
        text-align: left;
        padding: 10px;
        border-left: 1px $primary-color-dark solid;
        word-break: break-all;
        overflow: hidden;

        &:first-child {
            border-left: none;
        }

        & a {
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }

        &:first-child {
            word-break: normal;
            text-overflow: ellipsis;
        }
    }

    &__contact-item-title {
        font-size: 20px;
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba($primary-color-dark, .4);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: opacity .3s ease-in-out;
        opacity: 0;
        pointer-events: none;

        &--active {
            opacity: 1;
            pointer-events: all;

        }

    }

    &__modal-form {
        padding: 20px;
        width: 400px;
        background-color: #222924;
        border-radius: 10px;
        background: linear-gradient(to right, #222924, $primary-color-dark);
        box-shadow: 14px 15px 140px rgba($link-color-inactive, .3);
        display: flex;
        flex-direction: column;


    }

    &__modal-title {
        font-size: 25px;
        padding-bottom: 5px;
        color: inherit;

    }

    &__modal-input {
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        padding: 5px 15px;
        outline: none;
        border: 1px solid #fff;
        margin: 10px 0;
        color: inherit;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border-image: none;
            -webkit-text-fill-color: #fff;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &__modal-btn-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 10px;
    }

    &__modal-bnt {
        margin-left: 20px;
        padding: 7px 16px;
        border: 2px solid rgba($item-color, .5);
        border-radius: 30px;
        color: inherit;
        background: transparent;
        font-size: 16px;
        letter-spacing: 2px;
        transition: 0.2s;
        cursor: pointer;
        font-weight: 600;

        &:hover {
            background: $link-color;
            border-color: $link-color;
            transform: translateY(-2px);
        }
    }
}


.task__article-list::-webkit-scrollbar-track {
    margin-bottom: 30px;
    margin-top: 15px;
}