@import 'settings.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'animation.scss';

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

main {
    min-height: 100vh;
    height: 100%;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $header-color;

    &__inner {
        display: flex;
        padding: 20px 0px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-img {
        height: 40px;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    &__nav-link {
        color: $text-color-inactive;
        font-size: 23px;
        margin-left: 40px;
        font-family: 'Montserrat';
        position: relative;

        &::after {
            content: '';
            transition: opacity .2s linear;
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $text-color-inactive;
            opacity: 0;
            border-radius: 4px;
        }

        &:hover {
            color: $text-color;

            &::after {
                opacity: 1;
                background-color: $text-color;
            }
        }

        &.active {
            pointer-events: none;
            color: $text-color-inactive;

            &::after {
                color: $text-color-inactive;
                opacity: 1;
            }
        }
    }
}

.task {
    &__inner {
        min-height: 100vh;
        padding: 90px 0 30px;
        height: 100%;
        overflow-x: hidden;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        position: relative;
    }

    &__header-orientation-btn {
        position: absolute;
        right: 0;
        top: 5%;
        background-color: transparent;
        border: none;
        height: 40px;
        width: 40px;
        display: block;
        background: url('./assets/images/menu.svg') no-repeat center;
        background-size: 80%;
        background-origin: $header-color;
        cursor: pointer;
        transition: transform .3s;

        @media (any-hover: hover) {
            &:hover {
                transform: rotateZ(45deg);
            }
        }


        &--horizontal {
            transform: rotateZ(90deg);
        }
    }

    &__tabs {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    &__tasks-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__task-list {
        width: 100%;
        margin-top: 15px;
        //IE
        display: flex;
        flex-wrap: wrap;
        //
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        overflow: hidden;
        transition: all .3s;

        @media (max-width: 1050px) {
            grid-template-columns: 1fr 1fr;

            & .task__article {
                justify-self: end;

                &:nth-child(even) {
                    justify-self: start;
                }
            }
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;

            & .task__article {
                justify-self: center;

                &:nth-child(even) {
                    justify-self: center;
                }
            }

        }

        &--horizontal {
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            height: calc(100vh - 330px);
            min-height: 500px;
            padding-bottom: 10px;
            gap: 0px;
            flex-wrap: nowrap;
            justify-content: flex-start;

            & .task__article {
                @media (max-width: 400px) {
                    min-width: 280px;
                    max-width: 280px;
                }

                min-width: 360px;
                max-width: 360px;
                max-height: none;
                margin-left: 30px;
                height: 100%;
            }
        }

    }

    &__article {
        position: relative;
        max-width: 400px;
        width: 100%;
        height: 60vh;
        max-height: 600px;
        min-height: 450px;
        background-color: $block-color;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;
        animation: slide-in .5s ease;

        &:first-child {
            margin-left: 0px;
        }
    }

    &__article-header {
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #000;
        background-color: $block-color;
    }

    &__article-header-title {
        font-family: 'Montserrat';
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
    }

    &__article-header-add {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__article-header-input {
        width: calc(100% - 60px);
        min-width: calc(100% - 60px);
        max-width: calc(100% - 60px);
        min-height: 40px;
        max-height: 100px;
        //resize: vertical;
    }

    &__article-header-btn {
        max-width: 20%;
        margin-left: 20px;
    }

    &__article-list {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        padding: 15px;
        padding-top: 5px;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        border-bottom: 3px solid #8587ad;
        padding: 10px;
        border-radius: 10px;
        background-color: $item-color;
        margin: 10px 0;
        animation: slide-left .5s ease;

    }

    &__item-content {
        margin-right: 5px;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
    }

    &__item-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--active {
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
        }
    }

    &__item-buttons {
        display: flex;
    }

    &__item-btn {
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        margin: 0px 7px;
        cursor: pointer;
    }

    &__item-btn-edit {
        transition: transform .3s;

        &--active {
            transform: rotateZ(180deg);
        }
    }

    &__clear {
        position: absolute;
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        color: $header-color;
    }
    &__article-list-empty{
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: $header-color;
    }
}

.contact {
    padding: 90px 0 30px;

    &__inner {
        overflow: hidden;
    }

    &__header {
        display: flex;
        justify-content: center;
    }

    //  &__header-form {}

    &__contact-table {
        background-color: $block-color;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        animation: slide-in .5s ease;

    }

    &__contact-tbody {
        overflow: hidden;

    }

    &__contact-thead {
        font-weight: 600;
        background-color: $item-color;
        border-bottom: 1px #1F3F4C solid;
    }

    &__contact-row {
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 2fr 1.5fr 1fr 2fr;
        border-top: 1px #1F3F4C solid;

        &:first-child {
            border-top: none;
        }
    }

    &__contact-item {
        font-size: 17px;
        text-align: left;
        padding: 10px;
        border-left: 1px #1F3F4C solid;
        word-break: break-all;
        overflow: hidden;

        &:first-child {
            border-left: none;
        }

        & a {
            display: block;

            &:hover {
                text-decoration: underline;
            }
        }

        &:first-child {
            word-break: normal;
            text-overflow: ellipsis;
        }
    }
}

.archive {
    min-height: 100vh;

}


.task__article-list::-webkit-scrollbar-track {
    margin-bottom: 30px;
    margin-top: 15px;
}