@import 'settings.scss';
@import 'reset.scss';
@import 'fonts.scss';
@import 'animation.scss';

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

main {
    background-color: $primary-color-light;
    background: -webkit-linear-gradient(top bottom, $primary-color-light, $primary-color-dark);
    background: -moz-linear-gradient(top bottom, $primary-color-light, $primary-color-dark);
    background: linear-gradient(180deg, $primary-color-light, $primary-color-dark);

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: $header-color;

    &__inner {
        display: flex;
        padding: 10px 0px;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-img {
        height: 40px;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-end;
    }

    &__nav-link {
        margin-left: 40px;
        color: $link-color-inactive;
        font-size: 23px;
        font-family: 'Montserrat';
        position: relative;

        &::after {
            content: '';
            transition: opacity .2s linear;
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $link-color;
            opacity: 0;
            border-radius: 4px;
        }

        &:hover {
            color: $link-color;

            &::after {
                opacity: 1;
                background-color: $link-color;
            }
        }

        &.active {
            pointer-events: none;
            color: $link-color;

            &::after {
                color: $link-color;
                opacity: 1;
            }
        }
    }
}

.task {
    &__inner {
        padding: 90px 0 20px;
        overflow-x: hidden;
        min-height: 100vh;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__header-orientation-btn {
        margin-left: 10px;
        background-color: transparent;
        border: none;
        height: 30px;
        width: 35px;
        display: block;
        background: url('./assets/images/menu.svg') no-repeat center;
        background-size: 100%;
        will-change: transform;
        cursor: pointer;
        transition: transform .3s;

        &--horizontal {
            transform: rotateZ(90deg);
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6px 0px;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__tab {
        & button {
            font-size: 0;
            &:first-letter {
                font-size: 18px;
            }
        }
    }

    &__tasks-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__task-list {
        width: 100%;
        margin-top: 15px;
        //IE
        display: flex;
        flex-wrap: wrap;
        // Google Edge FireFox
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        overflow: hidden;
        & .task__article {
            justify-self: center;

            &:nth-child(even) {
                justify-self: center;
            }
        }

        &--horizontal {
            overflow-x: auto;
            overflow-y: hidden;
            display: flex;
            height: calc(100vh - 310px);
            min-height: 470px;
            padding-bottom: 10px;
            flex-wrap: nowrap;
            justify-content: flex-start;

            & .task__article {
                min-width: 280px;
                max-width: 280px;
                max-height: none;
                height: 100%;

                &:first-child {
                    margin-left: 0px;
                }
            }
        }

    }

    &__task-list-last {
        margin-left: -40px;
        margin-top: -40px;
    }

    &__article {
        position: relative;
        max-width: 400px;
        width: 100%;
        height: 60vh;
        max-height: 600px;
        min-height: 450px;
        background-color: $block-color;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        overflow: hidden;

        animation:  fade-in .5s ease;
        &:first-child {
            margin-left: 0px;
        }

        &--deleted {
            animation: fade-out .5s ease;
            
        }
    }

    &__article-header {
        text-align: center;
        padding: 10px 15px;
        border-bottom: 2px solid #000;
        background-color: $block-color;
    }

    &__article-header-title-box {
        display: flex;
        align-items: center;
    }
    &__article-title-form{
        flex-grow: 1;
        margin-right: 5px;
        overflow: hidden;
        display: flex;
        position: relative;
        font-size: 20px;
        color: $title-color;
        font-family: 'Montserrat';
    }
    &__article-title-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        padding-right: 10px;
    }
    &__article-title-input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        outline: none;
        resize: none;
        display: none;

        &--active {
            display: block;
            background-color: $block-color;
            border: none;
            border-bottom: 1px solid $primary-color-dark;
            height: 100%;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border-image: none;
            -webkit-text-fill-color: #000;
            transition: background-color 5000s ease-in-out 0s;
        }
    }
    &__article-header-btns{
        display: flex;
    }
    &__article-header-btn {
        width: 25px;
        height: 25px;
        margin-left: 7px;
    }

    &__article-header-add {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__article-header-input {
        width: calc(100% - 50px);
        min-width: calc(100% - 50px);
        max-width: calc(100% - 50px);
        min-height: 40px;
        max-height: 100px;
    }

    &__article-header-edit {
        max-width: 20%;
    }

    &__article-list {
        flex-grow: 1;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 15px;
        padding-top: 5px;
    }

    &__item {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        border-bottom: 3px solid #3A434A;
        padding: 10px;
        border-radius: 10px;
        background-color: $item-color;
        margin: 10px 0;
        animation: slide-left .5s ease;
        overflow: hidden;
        &--deleted {
            transition: all .5s ease;
            transform: translate(100%);
            opacity: 0;
        }
    }

    &__item-form {
        margin-right: 5px;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        position: relative;
    }

    &__item-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--active {
            text-overflow: clip;
            white-space: normal;
            word-break: break-all;
        }
    }

    &__item-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        outline: none;
        resize: none;
        display: none;

        &--active {
            display: block;
            background-color: $item-color;
            border: none;
            border-bottom: 1px solid $primary-color-dark;
            height: 100%;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border-image: none;
            -webkit-text-fill-color: #000;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &__item-buttons {
        display: flex;
    }

    &__item-btn {
        width: 20px;
        height: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        margin-left: 7px;
        cursor: pointer;
    }

    &__item-btn-expand {
        transition: transform .3s;

        &--active {
            transform: rotateZ(180deg) translateY(0);

        }
    }

    &__clear {
        width: 100%;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        color: $item-color;

    }

    &__article-list-empty {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
        color: $item-color;
    }
}

.contact {

    &__inner {
        overflow: hidden;
        padding: 100px 0 30px;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__header-btn {
        margin-left: 10px;
        width: 35px;
        height: 35px;
        font-size: 40px;
    }

    &__form {
        display: flex
    }

    &__contact-table {
        word-break: break-word;
        margin: 10px auto;
        width: 100%;
        animation: slide-in .5s;
    
        & th,
        * td {
            text-align: left;
        }

    }

    &__contact-row {

        display: block;
        margin: 0;
        transition: all .3s ease;
        margin-bottom: 15px;
        position: relative;

        &--deleted {
            transform: translateX(100%);
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__contact-thead {
        display: none;
    }


    &__contact-item {
        padding-top: 5px;
        background-color: $item-color;
        border: 1px $primary-color-dark solid;
        display: block;
        position: relative;
        padding-left: 150px;
        min-height: 40px;

        & a:hover {
            text-decoration: underline;
        }

        &:before {
            background-color: $block-color;
            width: 140px;
            text-align: start;
            border-right: 1px $primary-color-dark solid;
            content: attr(aria-label);
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            padding-left: 10px;
            padding-top: 5px;
        }

        &:last-child {
            border-radius: 0 0 20px 20px;
            overflow: hidden;
        }

        &:nth-child(2) {
            border-radius: 20px 20px 0px 0px;
            overflow: hidden;
        }
    }

    &__contact-row-delete {
        position: relative;
        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: 5px;
        margin-bottom: 5px;
        & button {
            display: block;
            width: 25px;
        }

        &::before {
            display: none;
        }
    }
    &__contact-row-delete-btns{
        display: inline-flex;
        gap: 8px;
        border-radius: 20px;
        padding: 10px;
        background-color: $link-color;
    }
    &__contact-item-title {
        font-size: 20px;
        color: $link-color;
    }

    &__modal {
        position: fixed;
        margin: 0 10px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba($primary-color-dark, .4);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: opacity .3s ease-in-out;
        opacity: 0;
        pointer-events: none;

        &--active {
            opacity: 1;
            pointer-events: all;

        }

    }

    &__modal-form {
        padding: 20px;
        width: 400px;
        background-color: #222924;
        border-radius: 10px;
        background: linear-gradient(to right, #222924, $primary-color-dark);
        box-shadow: 14px 15px 140px rgba($link-color-inactive, .3);
        display: flex;
        flex-direction: column;


    }

    &__modal-title {
        font-size: 25px;
        padding-bottom: 5px;
        color: inherit;

    }

    &__modal-input {
        width: 100%;
        border-radius: 20px;
        background-color: transparent;
        padding: 5px 15px;
        outline: none;
        border: 1px solid #fff;
        margin: 10px 0;
        color: inherit;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            border-image: none;
            -webkit-text-fill-color: #fff;
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &__modal-btn-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 10px;
    }

    &__modal-bnt {
        margin-left: 20px;
        padding: 7px 16px;
        border: 2px solid rgba($item-color, .5);
        border-radius: 30px;
        color: inherit;
        background: transparent;
        font-size: 16px;
        letter-spacing: 2px;
        transition: 0.2s;
        cursor: pointer;
        font-weight: 600;

        &:hover {
            background: $link-color;
            border-color: $link-color;
            transform: translateY(-2px);
        }
    }
}


.task__article-list::-webkit-scrollbar-track {
    margin-bottom: 30px;
    margin-top: 15px;
}

@import 'media.scss';