$tab-color: #618930;
$tab-color-active: #71A038;
.MyTab {
    border: 2px solid $tab-color;;
    background-color: $tab-color;
    color: #222629;
    font-size: 18px;
    font-weight: 600;
    border-radius: 30px;
    min-height: 40px;
    display: inline;
    padding: 8px 22px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        border: 2px solid $tab-color-active;
        background-color: $tab-color-active;
        color: #fff;
    }
}
