.MySaveBtn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;

    & img {
        will-change: transform;
        transition: transform .3s ease;
    }

    &:hover {
        & img {
            transform: rotateY(180deg) scale(1.2, 1.2);
        }
    }
}