.MyAddBtn{
    position: relative;
    z-index: 2;
    color:  #1F3F4C;
    font-size: 50px;
    font-family: 'Open Sans';
    font-weight: 400;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    background: transparent;
    border: none;
    line-height: 0;
    cursor: pointer;
    &::after{
        content: '';
        transition: transform .3s;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 1px;
        width: 100%;
        height: 100%;
        border: 2px solid  #1F3F4C;
        border-radius: 50%;
    }
    &:hover{
        &::after{
            transform: scale(1.1, 1.1);

        }
    }
}